@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

//Variable theme styles
$primary-color: #106580;
$background-accent: #1a1a1a;
$secondary-color: #fbc94a;
$contrast-color: #ffffff;
$gray-color: #b6b6b6;
$font-family: "Outfit", sans-serif;

